
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section Javascript
{
    <script type="text/javascript">
        //To prevent ie from throw errors when console.log is used (console does not exist in ie browser but does exist in firefox and chrome
        (function () {
            if (typeof console == "undefined") {
                console = { log: function() {} }
            }
        })();
    </script>
    <script type="text/javascript" data-main="/Scripts/config.js" src="/Scripts/lib/require.js">
    </script>
}
<h2>Index</h2>
<div id="main_container" name="main_container"></div>
